# SPI speed/flash
CONFIG_ESPTOOLPY_FLASHMODE_DIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000

# SPIFS
CONFIG_SPIFFS_MAX_PARTITIONS=1
CONFIG_SPIFFS_USE_MAGIC=y
CONFIG_SPIFFS_USE_MAGIC_LENGTH=y
CONFIG_SPIFFS_USE_MTIME=y

# HTTP server
CONFIG_ESP_HTTP_SERVER_ENABLE=true

# mDNS
CONFIG_LWIP_LOCAL_HOSTNAME="ledbrain"

# Ethernet
CONFIG_ETH_USE_ESP32_EMAC=y
CONFIG_ETH_RMII_CLOCK_OUTPUT=y
CONFIG_ETH_RMII_CLK_OUTPUT=y

# MQTT
CONFIG_MQTT_PROTOCOL_311=y
